body {
  background: #e5e5e5;
}
header {
  background: #cf2b2b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 1;
}
header h1 {
  color: #ffffff;
  font-family: "Righteous";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.012em;
  line-height: 55px;
}
header h2 {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
main {
  padding-left: 20px;
}
.food-container {
  margin-top: 40px;
  overflow-x: scroll;
}
h3 {
  color: #333333;
  font-family: "Righteous";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.018em;
  line-height: 32px;
  margin-bottom: 20px;
  position: absolute;
}
main .food-container:first-child {
  margin-top: 150px;
}
.food-informations-container {
  display: flex;
}
.food-box {
  background: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 216px;
  justify-content: center;
  margin-right: 20px;
  margin-top: 40px;
  padding: 13px;
  width: 172px;
}
.food-box img {
  border-radius: 4px;
  height: 87px;
  object-fit: cover;
  width: 144px;
}
h4 {
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 19px;
}
.food-box p:first-of-type {
  color: #a6a6a6;
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
}
.food-box p:last-child {
  color: #000000;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 19px;
}
.food-box img,
.food-box h4,
.food-box p {
  margin-bottom: 10px;
}
